<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>519240334786-1chheiogkulpc56o3ud29q70p1q4ghah.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.519240334786-1chheiogkulpc56o3ud29q70p1q4ghah</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>519240334786-vml1s194hrjarll0jd8fq9891541cvcl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAboxNlG4pTUePtIg41FEeHPVv4w9kUyFM</string>
	<key>GCM_SENDER_ID</key>
	<string>519240334786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arisesoft.weddingapp</string>
	<key>PROJECT_ID</key>
	<string>wedding-app-71bc8</string>
	<key>STORAGE_BUCKET</key>
	<string>wedding-app-71bc8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519240334786:ios:4eb0e07720749746ceea5b</string>
</dict>
</plist>